# ignore ipython checkpoints
.ipynb_checkpoints
*.pyc
# ignore plots as they are too large
*.pdf
*.png
*.jpg
*.jpeg
*.svg
# misc
*.webm
*.mx
/paper/
/thesis/comments/
/source/optimal_angles/
/source/data_of_tolerance_to_detection_loss/
source/ASDShCom_Ripoll_converted_output.py
source/ASDSxCom_Ripoll_converted_output.py
source/ExportToPython_examples.nb
source/WLCGWcurves_XL_FIG5.nb
source/ce_strain.txt
source/nIS_readouts_for_Jiayi.nb
source/sigTCom_Ripoll_converted_output.py
talks/CMB chat/
talks/Honours_final_talk_audience_comments.txt
talks/internship_talk.tex
talks/merger.mp4
talks/midyear_talk.tex
source/interferometer.py
source/nIS_radiation_pressure.nb
source/paper_figures_nondegenerate_internal_squeezing.ipynb
source/plots/diagrams.svg
source/nIS_for_Vaishali.nb
